<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paris2024 - sporten overzicht</title>
    <link rel="stylesheet" th:href="@{/css/sports/overview.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <ul class="navbar">
        <li class="navbar active"><span class="navbar">Sporten</span></li>
        <li class="navbar" th:if="${user.role.name() == 'USER' && !user.tickets.empty}"><a class="navbar" th:href="|/tickets/${user.username}|">Bekijk al je tickets</a></li>
        <li class="navbar" style="float: right">
            <form th:action="@{/logout}" method="post">
                <input class="navbar" type="submit" value="Logout" />
            </form>
        </li>
        <li class="navbar" style="float: right"><span class="navbar" th:text="${user.fullname}"></span></li>
    </ul>
    <div class="content">
        <th:block th:each="sport,iter: ${sportsList}">
            <div class="card">
                <img class="card-image" th:src="@{${sport.imageLocation}}" th:alt="${sport.imageDescription}">
                <div class="container">
                    <h2 th:text="${sport.name}"></h2>
                    <a class="btn" th:href="|/sports/matches/${sport.name}|" th:text="|Wedstrijd Scherm|"></a>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>