<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paris2024 - sporten overzicht</title>
    <link rel="stylesheet" th:href="@{/css/overview.css}">
</head>
<body>
    <h1>Sporten</h1>
    <div class="content">
        <th:block th:each="sport,iter: ${sportsList}">
            <div class="card">
                <img class="card-image" th:src="@{${sport.imageLocation}}" th:alt="${sport.imageDescription}">
                <div class="container">
                    <h2 th:text="${sport.name}"></h2>
                    <a class="btn" th:href="|#|" th:text="|Wedstrijd Scherm|"></a>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>